@if (!state)
{
    <button class="@changeColor" @onclick="onButtonClick">Start Counting</button>
}
else
{
    <button class="@changeColor" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
}

@code {

    [Parameter] public bool state { get; set; } = false;
    [Parameter] public EventCallback onButtonClick { get; set; }
    [Parameter] public string changeColor { get; set; } = string.Empty;
}
